<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="https://chris-karanja.github.io/Quotes-/" class="navbar-brand">QUOTES APP</a>
      </div>

      <!-- <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="#">Recipes</a></li>
              <li><a href="#">Shopping List</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#">Save Data</a></li>
                      <li><a href="#">Fetch Data</a></li>
                  </ul>
              </li>
          </ul>
      </div>  -->
  </div>
</nav>

<div class="container">
<app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

<hr>
<div *ngFor = 'let quote of userQuotes, let i=index'>
  <h2>"{{quote.message}}"</h2>
   <span><h4>{{quote.author}}</h4></span>
   <button (click)='toogleDetails(i)'>more detail</button>


<br>
<br>
<br>

<app-quote-details *ngIf ="quote.showDetail"[quote]='quote' (isDeleted)= 'quoteDelete($event,i)'></app-quote-details>
</div>